.cell {
  border: 1px solid rgb(54, 177, 214); /* TODO: Remove */
}

@for $i from 1 through $maxColumns {
  .grid--x .cell--#{$i} {
    grid-column: span $i;
  }
}
@for $i from 1 through $maxRows {
  .grid--y .cell--#{$i} {
    grid-row: span $i;
  }
}
/* .cell span for different breakpoints: */
@each $name, $breakpoint in $breakpoints {
  @for $i from 1 through $maxColumns {
    @media (min-width: $breakpoint) {
      .grid--x .cell--#{$name}--#{$i} {
        grid-column: span $i;
      }
      .grid--y .cell--#{$name}--#{$i} {
        grid-row: span $i;
      }
    }
  }
}
