/**
 * CSS custom properties and their default values.
 */
/*
.grid {
  --rows: 12;
  --columns: 12;
}
*/

/**
 * Sass variables and their default values.
 */
$breakpoints: (
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
)
