/* .grid--x .offset--4 */
@for $i from 1 through $maxColumns {
  .grid--x .offset--#{$i} {
    /* This doesn't overwrite `.cell` styling since we're using grid-column-end there. */
    grid-column-start: $i;
  }
}
/* .grid--y .offset--6 */
@for $i from 1 through $maxColumns {
  .grid--y .offset--#{$i} {
    grid-row-start: $i;
  }
}
/* .grid--x .offset--md--2 */
/* .grid--y .offset--lg--8 */
@each $name, $breakpoint in $breakpoints {
  @for $i from 1 through $maxColumns {
    @media (min-width: $breakpoint) {
      .grid--x .offset--#{$name}--#{$i} {
        grid-column-start: $i;
      }
    }
  }
  @for $i from 1 through $maxRows {
    @media (min-width: $breakpoint) {
      .grid--y .offset--#{$name}--#{$i} {
        grid-row-start: $i;
      }
    }
  }
}

/* .grid--xy .offset--6x */
@for $i from 1 through $maxColumns {
  .grid--xy .offset--#{$i}x {
    grid-column-start: $i;
  }
}
/* .grid--xy .offset--6y */
@for $i from 1 through $maxRows {
  .grid--xy .offset--#{$i}y {
    grid-row-start: $i;
  }
}
/* .grid--xy .offset--6 */
@for $i from 1 through $maxColumns {
  .grid--xy .offset--#{$i} {
    grid-column-start: $i;
  }
}
/* .grid--xy .offset--6 */
@for $i from 1 through $maxRows {
  .grid--xy .offset--#{$i} {
    grid-row-start: $i;
  }
}

/* .grid--xy .offset--sm--6 */
/* .grid--xy .offset--md--6x */
/* .grid--xy .offset--lg--4y */
@each $name, $breakpoint in $breakpoints {
  @for $i from 1 through $maxColumns {
    @media (min-width: $breakpoint) {
      .grid--xy .offset--#{$name}--#{$i} {
        grid-column-start: $i;
      }
      .grid--xy .offset--#{$name}--#{$i}x {
        grid-column-start: $i;
      }
    }
  }
  @for $i from 1 through $maxRows {
    @media (min-width: $breakpoint) {
      .grid--xy .offset--#{$name}--#{$i} {
        grid-row-start: $i;
      }
      .grid--xy .offset--#{$name}--#{$i}y {
        grid-row-start: $i;
      }
    }
  }
}
