/**
 * CSS custom properties and their default values.
 */
/*
.g {
  // The number of columns in a grid. Should not exceed $maxColumns.
   --columns: 12;
  // The number of rows in a grid. Should not exceed $maxRows.
  --rows: 12;
  // Horizontal space between columns.
  --gap-x: 1rem;
  // Vertical space between rows.
  --gap-y: 1rem;
  // Addtionally, based on your $breakpoints, you can use properties in 
  // the following format to overwrite spacing at specific breakpoints:
  --gap-sm-x
  --gap-md-y
  --gap-lg-x
}
*/

/**
 * Sass variables and their default values.
 */

/*
 * Used to generate cell and offset classes, e.g. `.c-md-4` and `.o-lg-2`.
 * You can add/remove as many breakpoints as you need here.
 * More breakpoints = larger file size.
 */
$breakpoints: (
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
) !default;

/*
 * Used to generate cell and offset classes, e.g. `.c-4` and `.o-2`.
 * You can increase/decrease these as much as you need.
 * These do not have to be the same.
 * Higher numbers = larger file size.
 */
$maxColumns: 12 !default;
$maxRows: 12 !default;
